* {
    outline: solid lightgreen;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#hero,
#random-info,
#testimonial,
#call-to-action {
    height: 300px;
}

header,
#random-info,
#testimonial,
#call-to-action,
footer {
    padding: 0 15%;
}

header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

#hero {
    padding: 50px 15%;
    display: flex;
    gap: 20px;
}

.hero-text,
.hero-image {
    width: 50%;
}

#random-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.illustrations {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.illustration-item {
    width: 150px;
}

#testimonial {
    display: flex;
    justify-content: center;
    align-items: center;
}

.whole-quote {
    width: 90%;
}

#call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
}

#call-to-action .container {
    display: flex;
}

.cta-text {
    width: 80%;
}

footer {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}