* {
    outline: solid lightgreen;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}