* {
    outline: solid lightgreen;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

#hero {
    display: flex;
    gap: 20px;
}

.illustrations {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.illustration-item {
    width: 150px;
}

.hero-text,
.hero-image {
    width: 50%;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}